<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>Titulo | Asesoria en linea</title>

  <!-- CSS  -->
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- materialize -->
  <link href="/assets/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Menu de navegacion -->
  <nav style="background-color: #00002b !important;" class="light-blue lighten-1 " role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/">INICIO</a></li>
        <li><a href="/productos">PRODUCTOS</a></li>
        <li><a href="/planes">PLANES</a></li>
        <li style="background-color: #45589d !important;"><a href="/asesoria-en-linea">AGENDA TU ASESORIA EN LINEA</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li class="active"><a href="/">INICIO</a></li>
        <li><a href="/productos">PRODUCTOS</a></li>
        <li><a href="/planes">PLANES</a></li>
        <li style="background-color: #45589d !important;"><a href="/asesoria-en-linea">AGENDA TU ASESORIA EN LINEA</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>
      <a style="cursor: pointer;" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <!-- FIN Menu de navegacion -->

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 style="color: #42a8e0 !important;" class="header center orange-text">TITULO</h1>
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
      </div>
      <div class="row center">
        <a style="background-color: #45589d !important;" id="download-button" class="btn-large waves-effect waves-light orange">Ver mas...</a>
      </div>
      <br><br>

    </div>
  </div>


    <!-- Pie de pagina -->
  <footer style="background-color: #45589d !important;" class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Lorem ipsum dolor sit</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusantium impedit distinctio obcaecati sed? Ipsam facilis nisi aut quis natus est tempora nihil ducimus ratione quaerat, obcaecati cum veritatis aliquid.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Lorem ipsum dolor sit</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">ENLACES ÚTILES</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  <!-- FIN Pie de pagina -->

  <!-- 

#42a8e0 
#45589d
#00002b
   -->

    <!--  Scripts -->
    <script src="/assets/libs/jquery/jquery-3.6.0.slim.min.js"></script>

    <!--  Scripts materialize -->
    <script src="/assets/libs/materialize/js/materialize.min.js"></script>
    <script src="/assets/libs/materialize/js/init.js"></script>
  </body>
</html>