<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>Titulo | Inicio</title>

  <!-- CSS  -->
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- materialize -->
  <link href="/assets/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Menu de navegacion -->
  <nav style="background-color: #00002b !important;" class="light-blue lighten-1 " role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li style="background-color: #45589d !important;" class="active"><a href="/">INICIO</a></li>
        <li><a href="/productos">PRODUCTOS</a></li>
        <li><a href="/planes">PLANES</a></li>
        <li><a href="/asesoria-en-linea">AGENDA TU ASESORIA EN LINEA</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li style="background-color: #45589d !important;" class="active"><a href="/">INICIO</a></li>
        <li><a href="/productos">PRODUCTOS</a></li>
        <li><a href="/planes">PLANES</a></li>
        <li><a href="/asesoria-en-linea">AGENDA TU ASESORIA EN LINEA</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>
      <a style="cursor: pointer;" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- FIN Menu de navegacion -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 style="color: #42a8e0 !important;" class="header center orange-text">TITULO</h1>
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
      </div>
      <div class="row center">
        <a style="background-color: #45589d !important;" id="download-button" class="btn-large waves-effect waves-light orange">Ver mas...</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lorem ipsum dolor sit</h5>

            <p class="light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente cupiditate laudantium aperiam veniam, cumque beatae doloribus aspernatur illo cum, quisquam quo distinctio voluptate excepturi, dolor necessitatibus optio provident quibusdam voluptatem.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Lorem ipsum dolor sit</h5>

            <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quis nesciunt fuga minima architecto doloribus quas officia excepturi! Ipsum, autem! Totam, repellendus qui cumque voluptatibus commodi nostrum reiciendis inventore! Quis.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Lorem ipsum dolor sit</h5>

            <p class="light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur minima possimus soluta unde doloribus quibusdam eveniet molestias illo? Eius, culpa dolores in sapiente dignissimos temporibus recusandae omnis ipsam repellendus unde./p>
          </div>
        </div>


          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>

      </div>

    </div>
    <br><br>
  </div>

    <!-- Pie de pagina -->
  <footer style="background-color: #45589d !important;" class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Lorem ipsum dolor sit</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusantium impedit distinctio obcaecati sed? Ipsam facilis nisi aut quis natus est tempora nihil ducimus ratione quaerat, obcaecati cum veritatis aliquid.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Lorem ipsum dolor sit</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">ENLACES ÚTILES</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  <!-- FIN Pie de pagina -->

  <!-- 

#42a8e0 
#45589d
#00002b
   -->

    <!--  Scripts -->
    <script src="/assets/libs/jquery/jquery-3.6.0.slim.min.js"></script>

    <!--  Scripts materialize -->
    <script src="/assets/libs/materialize/js/materialize.min.js"></script>
    <script src="/assets/libs/materialize/js/init.js"></script>
  </body>
</html>